cabecalho {
    vertical-align: middle;
    margin-right: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 0;
    text-align: center;
    background-color: rgb(66, 66, 66);
}

container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input-campo {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: ghostwhite;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

