@font-face {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    src: url();
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}